body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    .header{
        height: 15vh;
        margin: 0;
        padding: 1rem 5rem;
        box-sizing: border-box;
        background-color: #9AEB7F;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__titulo{
            color: #1B7111;
            font-weight: bolder;
        }

    }
    
    .nav__links{
        padding: .5rem;
        text-decoration: none;
        color: #1B7111;
        font-weight: bold;
        &:hover{
            background-color: #1B7111;
            color:white;
            border-radius: 15px;
        }
    }
    .main{
        
    }
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.5rem;
        text-align: center;
        height: 12vh;
        background-color: #9AEB7F;
        font-weight: lighter;
    }

    color: black;
    background-color: rgb(247, 215, 209);
}

.carrito{
    padding-right: .5rem;
    color: #1B7111;
    &:hover{
        cursor: pointer;
        color:white;
    }
}

.mensaje{
    margin: auto;
    font-size: 2rem;
    margin-top: 5rem;
    max-width: 50%;
    padding: 3rem;
    text-align: center;
    background-color: #1B7111;
    color:white;
    border-radius: 15px;
}


.contador{
    border: .5px solid #1B7111;
    border-radius: 10px;
    width: 15vw;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem 0;
}

.agregar{
    display: flex;
    justify-content: center;
}

.boton{
    border: none;
    padding: 0 1.3rem;
    background-color: #9AEB7F;
}

.iconos{
    color: #1B7111;
}

.cantidad{
    padding: 0 2rem;
    font-weight: bolder;
    font-size: 1.5rem;
}

.agregarBoton{
    display: flex;
    justify-content: center;
    padding: .5rem 0 0;
}

.agregarAlCarrito{
    margin: auto;
    border: none;
    padding: .5rem 5.8rem;
    background-color: #9AEB7F;
}

.productos{
    padding-top: 3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    overflow: hidden;
}
.item{
    padding: 1rem;
    width: 18vw;
    border: .5px solid #1B7111;
    box-shadow: 3px 5px #d3e8cc;
    border-radius: 10px;

    &Titulo{
        text-align: center;
        font-weight: bold;
        color: #1B7111;;
    }
    &Precio{
        margin: 1rem ;
        text-align: center;
        font-weight: bold;
        color: #1B7111;
    }
    &Img{
        width: 100%;
        
    }
}

.detalle{
    margin: 1rem 2rem;
    padding: 1rem 1rem;
    max-width: 50%;
    font-style: italic;
    border: .5px solid #1B7111;
    box-shadow: 3px 3px #d3e8cc;
}