body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    .header{
        height: 15vh;
        margin: 0;
        padding: 1rem 5rem;
        box-sizing: border-box;
        background-color: #9AEB7F;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__titulo{
            color: #1B7111;
            font-weight: bolder;
        }

    }
    
    .nav__links{
        padding: .5rem;
        text-decoration: none;
        color: #1B7111;
        font-weight: bold;
        &:hover{
            background-color: #1B7111;
            color:white;
            border-radius: 15px;
        }
    }
    .main{
        height: 73vh;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.5rem;
        text-align: center;
        height: 12vh;
        background-color: #9AEB7F;
        font-weight: lighter;
    }

    color: black;
    background-color: rgb(247, 215, 209);
}