body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    .header{
        height: 15vh;
        margin: 0;
        padding: 1rem 5rem;
        box-sizing: border-box;
        background-color: #9AEB7F;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__titulo{
            color: #1B7111;
        }
        
        &__links{
            padding: 1rem;
            text-decoration: none;
            color: #1B7111;
            font-weight: bold;
        }
    }

    .main{
        height: 73vh;
    }
    .footer{
        padding: 1rem;
        text-align: center;
        height: 12vh;
        background-color: #9AEB7F;
        font-weight: bold;
    }

    color: black;
    background-color: rgb(247, 215, 209);
}